/*Footer*/
/*-----------------------------------------------------------------------------*/
.footer{
    width: 100%;
    background-color: #4a4843;
    min-height: 150px;
    display: flex;
}
.footer_cover{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
/*Footer left side*/
/*--------------------------------------------*/
.footer_left_side{
    width: 75%;
}
.main_info{
    display: flex;
    align-items: center;
    padding: 25px 0 25px 0;
}
.footer_pages{
    margin-right: 25px;
}
.footer_pages p{
    color: #f1f1f1;
    font-family: Lato Regular, sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    transition-duration: .3s;
}
.footer_pages:hover p{
    color: #ff6f61;
    text-decoration: underline;
    cursor: pointer;
}
.copyright p{
    font-family: Lato Light, sans-serif;
    font-size: 12px;
    padding-top: 25px;
}
/*--------------------------------------------*/
/*End Footer left side*/

/*Footer right side*/
/*--------------------------------------------*/
.footer_right_side{
    width: 25%;
}
.we_are_in_social_networks{
    padding: 25px 0 25px 0;
}
.we_are_in_social_networks p{
    color: #f1f1f1;
    font-family: Lato Regular, sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    transition-duration: .3s;
}
.we_are_in_social_networks:hover p{
    color: #ff6f61;
}
.social_networks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
    text-align: center;
    width: 50px;
    height: 50px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 6px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}
.github a:hover {background: #191919; color: #fff;}
.youtube a:hover {background: #c4302b; color: #fff;}
.google-pluse a:hover {background: #DD4B39; color: #fff;}
.twitter a:hover {background: #00acee; color: #fff;}
.instagram a:hover {background: #3f729b; color: #fff;}
.facebook a:hover {background: #3b5998; color: #fff;}
.skype a:hover {background: #00aff0; color: #fff;}
.vk a:hover {background: #5d84ae; color: #fff;}
.odnoklassniki a:hover {background: #f93; color: #fff;}
.pinterest a:hover {background: #c8232c; color: #fff;}
.linkedin a:hover {background: #0e76a8; color: #fff;}
.telegram a:hover {background: #249bd7; color: #fff;}
.tumblr a:hover {background: #34526f; color: #fff;}
.windows a:hover {background: #125acd; color: #fff;}
.whatsapp a:hover {background: #50b154; color: #fff;}
.weibo a:hover {background: #d52b2b; color: #fff;}
.dropbox a:hover {background: #1087dd; color: #fff;}

/*--------------------------------------------*/
/*End Footer right side*/
/*-----------------------------------------------------------------------------*/
/*End Footer*/

/*General rules*/
/*-----------------------------------------------------------------------------*/
a{
    text-decoration: none;
}
.coral{
    color: #ff6f61;
}
.active{
    background-color: #ff6f61;
}
.nav_active{
    text-decoration: underline;
}
/*-----------------------------------------------------------------------------*/
/*End General rules*/