/*Preloader*/
/*----------------------------------*/
.spinner_cover{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
/*----------------------------------*/
/*And Preloader*/

